body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
}
.wrapper{
    border: 1px solid red;
    width: 500px;
    height: 300px;
    padding-top: 20px;
    padding-left: 20px;
}