body{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('https://wallpapercave.com/wp/eas6Et3.jpg');

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    margin-top: 180px;
}
.box{
    border: 1px solid yellow;
    width: 600px;
    height: 300px;
}
#love{
    display: flex;
    background-color: red;
    
    width: 600px;
    justify-content: center;
    align-items: center;
}
#data{
    display: flex;
    justify-content: center;
    align-items: center;
}
#root1{
    display: flex;
    justify-content: center;
    align-items: center;
}
#button1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    background-color: azure;
}