/* header {
    display: flex;
    justify-content: center;
    width: 980px;
    height: 140px;
    background-color: aqua;
  }
  .side {
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 450px;
    float: left;
    margin: 2px;
    background-color: aqua;
  }
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 690px;
    height: 450px;
    background-color: aquamarine;
  }
  
  #footer {
    width: 980px;
    height: 70px;
    background-color: yellowgreen;
  }
  
  .link {
    border: 2px solid black;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  #con {
    margin-top: 0px;
  } */

  body{
      display: flex;
      justify-content: center;
      align-items: center;
      
  }
  .wrapper{
      /* display: grid; */
    border: 1px solid red;
    width: 980px;
    height: 680px;
    /* grid-template-columns: repeat(3,1fr); */
    gap: 10px;
    /* grid-auto-rows: minmax(100px, auto); */
    /* grid-template-rows: repeat(3, 1fr); */
  }
  #header{
      display: flex;
      justify-content: center;
      align-items: center;
      /* grid-column: 4/1;
      grid-row: 1/3; */
      border: 1px solid blue;
      height: 140px;
      width: 980px;
      background-color: aquamarine;
      font-size: 30px;
  }
  .sect{
      flex-direction: row;
      margin-top: 10px;
   
  }
  .sideBar{
      grid-column: 1/2;
      grid-row: 2/3;
      border: 1px solid blue;
      width:270px;
      height: 450px;
      float: left;
      background-color: aquamarine;
  }
  .content{
    display: flex;
    justify-content: center;
    align-items: center;
      float: right;
    border: 1px solid blue;
    width:690px;
    height: 450px;
    background-color: aquamarine;
    font-size: 30px;
  }
  #footer{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
    width:980px;
    height: 70px;
    background-color: aquamarine;
    font-size: 30px;
    
  }
  .linkOne{
      display: flex;
      flex-direction: column;
      justify-content: center;
    align-items: center;
      border: 1px solid red;
      width: 270px;
      height: 30px;
      font-size: 25px;
  }
  .linkTwo{
    display: flex;
    flex-direction: column;
    justify-content: center;
  align-items: center;
    border: 1px solid red;
    width: 270px;
    height: 30px;
    margin-top: 10px;
    font-size: 25px;
}

/* .footer{
   display: flex;
   justify-content: center;
    align-items: center;
    margin-bottom: 1px;
    width:980px;
    /* height: 70px; */
    /* border: 1px solid rgb(207, 221, 13);
    margin-top: 10px;
    margin-bottom: 0px;
} 